<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @club.street_address %>

  <%@band.bookings.each do |q| %>
      <% f= @band.bookings.first.band.name%>
    <p><%= "Band: #{f} Date: #{q.date}" %>
<%end%>



</p>


<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
