<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Number of members:</strong>
  <%= @band.num_members %>

  <%@band.bookings.each do |q| %>
      <% f= @band.bookings.first.club.name%>
    <p><%= "Club: #{f} Fee: #{q.fee}" %>
<%end%>







</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
