<!DOCTYPE html>
<html>
<head>
  <title>Bands</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<h1>My Band App</h1>
<%= link_to "Bookings",bookings_path %>
<%= link_to "Bands",bands_path %>
<%= link_to "Clubs",clubs_path %>
<hr/>
<%= yield %>

</body>
</html>
